<div id="sidebar">
  <ol style="list-style-type: none;">
   <li style="list-style-type: none;"><a href="index.html">Home</a></li>
   <li style="list-style-type: none;"><a href="CompanyOverview.html">Company Overview</a></li>
   <li style="list-style-type: none;"><a href="Overview.html">TorQ Overview</a></li>
   <li style="list-style-type: none;"><a href="gettingstarted.html">Getting Started</a></li>
   <li style="list-style-type: none;"><a href="handlers.html">Message handlers</a></li>
   <li style="list-style-type: none;"><a href="utilities.html">Utilities</a></li>
   <li style="list-style-type: none;"><a href="visualisation.html">Visualisation</a></li>
   <li style="list-style-type: none;"><a href="Processes.html">Processes</a></li>
   <li style="list-style-type: none;"><a href="whatcanwedo.html">What Can We Do For You?</a></li>
 </ol>
</div>

<style>
 div#sidebar {
 	position: fixed;
        left: 0;
	top: 30%;
        font-size: small;
	list-style-type: none;
 }
</style>
